@model Multis.Models.RegisterModel

<h2>Регистрация</h2>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Login">Логин</label><br />
            <input type="text" asp-for="Login" />
            <span asp-validation-for="Login" />
        </div>
        <div>
            <label asp-for="Password">Пароль</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword">Повторите пароль</label><br />
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
        
        <div>
            @Html.DropDownList("Role", new SelectList(new string[] { "Администратор", "Продавец" }), "Выберите роль")

        </div>

        <div>
            <label asp-for="JName">Юридическое название</label><br />
            <input type="text" asp-for="JName" />
            <span asp-validation-for="JName" />
        </div>
        <div>
            <label asp-for="JName">Маркетинговое название</label><br />
            <input type="text" asp-for="MName" />
            <span asp-validation-for="MName" />
        </div>
        <div>
            <label asp-for="Superviser">Руководитель</label><br />
            <input type="text" asp-for="Superviser" />
            <span asp-validation-for="Superviser" />
        </div>
        <div>
            <label asp-for="SuperPhoneNum">Номер телефона</label><br />
            <input type="text" asp-for="SuperPhoneNum" />
            <span asp-validation-for="SuperPhoneNum" />
        </div>
        <div>
            <label asp-for="Country">Страна</label><br />
            <input type="text" asp-for="Country" />
            <span asp-validation-for="Country" />
        </div>

        <div>
            <label asp-for="City">Город</label><br />
            <input type="text" asp-for="City" />
            <span asp-validation-for="City" />
        </div>
        <div>
            <label asp-for="Address">Адрес</label><br />
            <input type="text" asp-for="Address" />
            <span asp-validation-for="Address" />
        </div>
        <div>
            <label asp-for="Account">Номер счета</label><br />
            <input type="text" asp-for="Account" />
            <span asp-validation-for="Account" />
        </div>

        
        <div>
            <input type="submit" value="Регистрация" />
        </div>
    </div>
</form>